<h1 *ngIf="!page">{{ "list.add" | translate}}</h1>
<h1 *ngIf="page">{{ "list.edit" | translate}}</h1>

<div class="mb-3">
    <label for="name" class="form-label">{{ "form.name" | translate}}</label>
    <textarea class="form-control" #name rows="3" ></textarea>
</div>
<div class="mb-3">
    <label for="name" class="form-label">{{ "form.upc" | translate}}</label>
    <textarea class="form-control" #upc rows="3" ></textarea>
</div><div class="mb-3">
    <label for="name" class="form-label">{{ "form.current_cost" | translate}}</label>
    <textarea class="form-control" #current_cost rows="3" ></textarea>
</div><div class="mb-3">
    <label for="name" class="form-label">{{ "form.profit_percentage" | translate}}</label>
    <textarea class="form-control" #profit_percentage rows="3" ></textarea>
</div>
<div class="mb-3">
    <label for="status"> {{ "list.status" | translate}}:</label><br>
    <div class="form-check form-check-inline">
      <input class="form-check-input"  type="radio"
        name="method" value=1  #status  >
      <label class="form-check-label" for="status" >{{ "form.enabled" | translate}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input"  type="radio"
          name="method" value=0   #status >
        <label class="form-check-label" for="status">{{ "form.disabled" | translate}}</label>
      </div>
</div>
<div class="mb-3">
    <label for="name" class="form-label">{{ "brand" | translate}}</label>
    <textarea class="form-control" #brand rows="3" ></textarea>
</div>
<div>
    <button class="btn btn-success" *ngIf="!page" (click)="add(name.value,upc.value,current_cost.value,profit_percentage.value,status.value,brand.value); name.value=''; upc.value='';current_cost.value='';profit_percentage.value='';status.value='';brand.value='';">{{ "list.add" | translate}}</button>     
    <button class="btn btn-success" *ngIf="page" (click)="edit(name.value,upc.value,current_cost.value,profit_percentage.value,status.value,brand.value); name.value=''; upc.value='';current_cost.value='';profit_percentage.value='';status.value='';brand.value='';">{{ "list.edit" | translate}}</button>     
</div>
