<h1 *ngIf="!page">{{ "list.add" | translate}}</h1>
<h1 *ngIf="page">{{ "list.edit" | translate}}</h1>

<div class="mb-3">
  <form [formGroup]="formGroup" (ngSubmit)="add(formGroup.value)">
    <div class="mb-3">
      <label for="name" class="form-label">{{ "form.name" | translate}}</label>
      <input name="name" class="form-control" rows="3" formControlName="name" >
    </div>
    <label > {{ "form.name" | translate}}:</label><br>
    <div class="form-check form-check-inline">
      <input class="form-check-input"  type="radio"
        name="status" value=1  #status formControlName="status" >
      <label class="form-check-label" for="status" >{{ "form.enabled" | translate}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input"  type="radio"
          name="status" value=0   #status formControlName="status">
        <label class="form-check-label" for="status">{{ "form.disabled" | translate}}</label>
      </div>
  </form>
</div>
<div>
    <button class="btn btn-success" *ngIf="!page" (click)="add(formGroup.value)">{{ "list.add" | translate}}</button>     
    <button class="btn btn-success" *ngIf="page" (click)="edit(formGroup.value)">{{ "list.edit" | translate}}</button>     
</div>


